body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 75px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: yellow;
}

.portfolio-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.portfolio-button:hover {
    background-color: yellow;
    color: blue;
}

.hero {
    text-align: center;
    padding: 50px;
}

footer {
    background-color: blue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* About section starts here */

.about {
    text-align: center;
    padding: 75px;
}

.about img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out; 
}

.about img:hover {
    transform: rotate(360deg); 
}

.about img[src$="tth.jpg"] {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out; 
}

@keyframes moveSideToSide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(100px); }
    100% { transform: translateX(0); }
}

.about img[src$="tth.jpg"] {
    animation: moveSideToSide 3s infinite;
}


/* Portfolio section starts here */

.portfolio {
    text-align: center;
    padding: 10px;
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.portfolio {
    text-align: center;
    padding: 50px;
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Contact section starts here */  

.contact-method {
    margin-top: 30px;
}

.contact-method h3 {
    color: blue;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}
